<div class="col-12">
    <div class="pageHeader">
        <h2>Change Password 修改密码</h2>
    </div>
    <!-- /pageHeader -->
    <div class="row">


        <div class="pageContainer col-lg-4">
            <div class="alert" ng-show="global.msgbox" ng-class="global.msgboxClass">{{global.msgboxTips}}</div>
            <form id="common-form" class="form-horizontal" method="post" accept-charset="utf-8">
                <fieldset>


                    <p>
                        <label  for="id_password">旧密码:</label>
                        <input class="form-control" type="password" name="password" id="id_password" ng-model="user.password" placeholder="">
          <span class="text-danger" ng-show="register.password.$error.required">
                    </p>


                    <p>
                        <label for="id_password">用户密码:</label>
                        <input class="form-control" type="password" name="password" id="id_password" ng-model="user.changepassword"
                               placeholder="">
          <span class="text-danger" ng-show="register.password.$error.required">
                    </p>

                    <p>
                        <label for="id_password2">确认密码:</label>
                        <input class="form-control" type="password" name="password2" id="id_password2" ng-model="changepassword2"
                               placeholder="">
                    </p>

                </fieldset>
                <div class="submitDiv">
                    <input type="submit" value="确认修改" ng-click="changeUserPassword(user)"
                           ng-disabled="!user.password||!user.changepassword||user.changepassword!=changepassword2"
                           class="btn btn-small btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
